{% extends "layout.html" %}

{% block title %}
    Log an Expense
{% endblock %}

{% block main %}
    <form action="/expense" method="POST">

        <!-- First we need an input of the expense name -->
        <div class="form-group">
            <input class="form-control" name="txn_name" type="text" placeholder="Expense Name" autofocus>
        </div>

        <!-- User will input the date they expect the expense to debit -->
        <div class="form-group">
            <input class="form-control" name="txn_date" type="text" placeholder="Date">
        </div>

        <!-- User will input what they believe the expense will cost -->
        <div class="form-group">
            <input class="form-control" name="txn_p_cost" type="text" placeholder="Cost">
        </div>

        <!-- User will input any notes associated with the expense -->
        <div class="form-group">
            <input class="form-control" name="txn_notes" type="text" placeholder="Notes">
        </div>

        <!-- User confirms entry by clicking a submit button -->
        <button class="btn btn-primary" type="submit">Add to Log</button>

    </form>
{% endblock %}