{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Notes</th>
                <th>Timestamp</th>
            </tr>
        </thead>

        <tbody>
            {% for i in entries %}
            <tr>
                <td style="text-align:left">{{ i["notes"] }}</td>
                <td>{{ i["timestamp"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}