{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
<div class="col-12">
    <table class="table table-striped">
        <!-- Table Headers -->
        <thead>
            <tr>
                <th>Entry ID</th>
                <th>Transaction Name</th>
                <th>Date</th>
                <th>Predicted Cost</th>
                <th>True Cost</th>
                <th>Funds Added</th>
                <th>Notes</th>
            </tr>
        </thead>

        <tbody>
            <!-- Table Data -->
            {% for i in funds_snapshot %}
            <tr>
                <td>{{ i["funds_id"] }}</td>
                <td>{{ i["name"] }}</td>
                <td>{{ i["date"] }}</td>
                <td>{{ i["predict"] }}</td>
                <td>{{ i["true"] }}</td>
                <td>{{ i["added"] }}</td>
                <td>{{ i["notes"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br>
<br>
<br>

<div class="col-12">
    <table class="table table-striped">
        <!-- Table data -->
        <tbody>
            <!-- Display the set budget -->
            <tr>
                <td colspan="6"></td>
                <td style="font-weight: bold; float: right;">Budget: {{ budget }}</td>
            </tr>
            <!-- Display the current available funds -->
            <tr>
                <td colspan="6"></td>
                <td style="font-weight: bold; float: right;">Available: {{ current_funds }}</td>
            </tr>
        </tbody>

    </table>
</div>
{% endblock %}